<div class="container position-fixed top-0 start-50 translate-middle-x mt-3 px-3" style="z-index: 1050; width: 100%; max-width: 500px;" data-turbo-cache="false">
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show shadow-sm text-center" role="alert">
      <%= message %>
    </div>
  <% end %>
</div>
