<body>
<div class="container mt-5 pt-5 pt-md-0">
  <div class="row align-items-center">
    <div class="col-md-6 d-none d-md-block">
      <%= image_tag "https://dsazhl88swmg2.cloudfront.net/helpalife/worldmapwhite.png", class:"img-fluid", alt:"World Map with Donor Locations"%>
    </div>
    <div class="col-md-6">
      <h2>About Us</h2>
      <p>We are here to provide system through which people in need, then can find donors and notify them as quick as possible via push notifications, SMS notifications and emails.</p>
      <p>We ensure that blood donors are easily accessible by connecting them with those in need in real-time. Our platform streamlines the process, allowing for faster responses and quicker action.</p>
    </div>
  </div>
</div>


<div class="container mt-5 position-relative">
  <div class="row">
    <div class="col-md-6">
      <h5 class="text-danger">About Us</h5>
      <h2>History & Motto</h2>
      <p>HelpALife is a non-profit organization that started its service in January 2014. Our goal is to eliminate the challenges of donor shortages by providing a reliable platform for efficient donor matching.</p>
      <p><strong>Love all, do good, and live well</strong> – our motto guides us in making a positive impact. Through these values, we strive to help save lives and build a compassionate community.</p>
      <div class="position-relative w-100" style="z-index: 2;">
        <%= image_tag "https://dsazhl88swmg2.cloudfront.net/helpalife/aboutpage2.png",class:"img-fluid d-block mx-auto position-relative", style:"margin-bottom: -500px; margin-top: 50px; height: 400px; width: 700px;" , alt:"Blood Donation Process"%>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center position-relative">
      <div class="position-relative w-100" style="z-index: 2;">
        <%= image_tag "https://dsazhl88swmg2.cloudfront.net/helpalife/aboutpage1.png" ,class:"img-fluid d-block mx-auto position-relative mt-5 mt-md-5 pt-5 pt-md-0" ,style:"margin-bottom: -50px; margin-top: 50px; height: 500px; width: 700px;" ,alt:"Blood Donation Process"%>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-md-flex flex-column justify-content-center align-items-center bg-danger text-white position-relative w-100" style="min-height: 35vh; z-index: 1; padding-top:150px; padding-bottom: 50px;">
  <h2 class="col-12 col-md-6 text-center text-md-center mt-0 mt-md-5 pt-0 pt-md-5 mx-auto">
    Join us in the fight to save lives
  </h2>
  <p class="col-12 col-md-7 text-center text-md-center mx-auto">
    We have been dedicated to finding blood donors by creating a reliable network that ensures critical support when it's needed most. Our mission is to ensure that no one has to wait for critical blood. By partnering with us, you can help make a lasting impact, providing hope and support to those in need. Together, we can turn a single donation into a life saved.
  </p>
</div>
<%= render 'layouts/partials/footer' %>
</body>
</html>